.wraper{
    background:url("../../../../assets/images/homepagePic.jpg");
    height: 85vh;
    width: 100%;
    margin-top: -22px;
}

.Title{
    padding-top: 10vh;
    text-align: center;
    color: white;
}