<header>
    <div class='innerHeader'>
      <div class="logoContainer">
        <h1>BDS</h1>
      </div>
      <div class="navContainer">
        <nav>
          <ul>
            <li><span><a routerLink='/'>Home</a></span></li>
            <li><span><a routerLink="about">About</a></span></li>
            <li><span><a routerLink="posts/requests">Requests</a></span></li>
            <li><span><a routerLink="posts/offers">Offers</a></span></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  